build*/
installer/
unittest/
prj/
*.o
*.qm
debug/
*.lib
*.a
*.dll
Makefile
Makefile.*
.vs/
*.user
*.qmake.*
*.pyc
*.eww
*.wsdt
*.wspos
*.dep
*.ewd
*.ewp
*.ewt
*.icf
*.rar
*.eww
*.filters
settings/
Debug/
Release/
source/arith/pvt/GelgoogProject/RTOS/
source/arith/pvt/GelgoogProject/BSP/
source/arith/pvt/GelgoogProject/APP/
doc/
_icon/
_icon2/
_icon3/
_board/
*.Debug
*.Release
