build*/
installer/
unittest/

*.o
*.qm
debug/
*.lib
*.a
*.dll
Makefile
Makefile.*
.vs/
*.user
*.qmake.*
*.pyc
*.eww
*.wsdt
*.wspos
*.dep
*.ewd
*.ewp
*.ewt
*.icf
*.rar
*.eww
*.filters
settings/
Debug/
Release/
source/arith/pvt/GelgoogProject/RTOS/
#source/arith/pvt/GelgoogProject/BSP/
#source/arith/pvt/GelgoogProject/APP/
doc/
_icon/
_icon2/
_icon3/
_board/
*.Debug
*.Release
moc_*
*.config
*.csproj
*.sln
source/arith/delta/arith/_AddPointParam*
source/arith/delta/arith/_function*
source/misa/c#/test/bin
source/misa/c#/test/obj
source/misa/c#/test/Properties

source/bus/obj/moc_*.h
source/bus/obj/moc_*.cpp
source/inst/obj/moc_?*.h
source/inst/obj/moc_?*.cpp
